.Input
{
padding: 0;
margin: 0;
border: 0;

}

@property --DoorOpen
{
initial-value: Closed;
inherits: false;
syntax: '<string>';

}

.Canvas
{
    padding: 0;
    margin: 0;
    border: 0;
    display:flex

}
.Floor
{

    padding: 0;
margin: 0;

border-color: black;
border-bottom-style: solid;
display:flex
}

.Lift
{

    padding: 0;
    display:flex;
border: 0;
}



body
{
    padding: 0;
    margin: 0;
    border: 0;

}

button
{
    text-align: center;
    margin: 5px,5px,5px,5px;
    background: Green;
    color: white;
   
}

.Anime {
    width: 50px;
    animation-name: Open;
    animation-timing-function: linear;
    
    animation-duration: 5s;
   
   
  
  }

  @keyframes Open {
    0%   {width: 50px;}
  50%  {width:0px}
   100%{width: 50px;} 
  }
  